* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #111;
  height: 100%;
  width: 100%;
}

.heading {
  height: 100px;
  font-size: 3vw;
  /* border: 2px solid red; */
  text-align: center;
  padding-top: 50px;
}

.recipes_list {
  /* border: 2px solid red; */
  height: 50vh;
  display: flex;
  padding-left: 30%;
  align-items: center;
}
